*, *:before, *:after {
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  background-color: #EDEEEE;
  font: 400 16px/1.6 "Open Sans", sans-serif;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  line-height: 1.2; }

h1 {
  font-weight: 700; }

h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: #394D58; }

h2 {
  text-transform: uppercase;
  letter-spacing: .25px; }

p {
  margin-top: 0;
  margin-bottom: 1.5rem; }

a {
  color: #253239;
  text-decoration: none;
  cursor: pointer;
  transition: opacity .2s ease; }
  a:hover {
    opacity: .7; }

.container {
  position: relative;
  max-width: 64rem;
  margin: 0 auto;
  padding: 2rem;
  z-index: 500; }
  @media screen and (min-width: 736px) {
    .container.flex-container {
      display: flex;
      flex-wrap: wrap; } }

.site-content {
  padding-bottom: 4rem; }

.button {
  display: inline-block;
  padding: .5rem 1.25rem;
  border: 0;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: "Open Sans", sans-serif;
  font-size: .75rem;
  text-transform: uppercase;
  transition: opacity .2s ease; }
  .button.more {
    display: block;
    width: 40%;
    margin: 2rem auto;
    background: #394D58;
    text-align: center;
    color: #333; }
  .button:hover {
    opacity: .7; }
  .button.border {
    background: transparent;
    border: 2px solid #394D58;
    color: #394D58; }
  .button.solid {
    background: #394D58;
    color: #fff; }
  .button.disabled {
    background: transparent !important; }

/*utility classes*/
.hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px); }

.site-header {
  position: relative;
  background: url("../img/header-background.jpg") no-repeat top center;
  background-size: cover;
  z-index: 1000; }
  .site-header .container {
    padding-bottom: 2rem; }
  .site-header.no-background {
    background: transparent; }

.brand {
  display: block;
  width: 50%;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: .5px;
  color: #fff; }
  @media screen and (min-width: 1280px) {
    .brand {
      display: inline-block;
      width: 30%;
      font-size: 1.125rem;
      text-align: left; } }

.site-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  padding: 8rem 4rem;
  background-color: #394D58;
  transform: translateX(-100%);
  z-index: 10000; }
  @media screen and (min-width: 736px) {
    .site-nav {
      width: 40%; } }
  @media screen and (min-width: 1280px) {
    .site-nav {
      position: static;
      float: right;
      width: auto;
      height: auto;
      margin-top: .5rem;
      padding: 0;
      text-align: right;
      background-color: transparent;
      transform: none; } }
  .site-nav.closed {
    transform: translateX(-100%);
    transition: transform .3s ease-in; }
  .site-nav.open {
    transform: translateX(0);
    transition: transform .3s ease-out; }
  .site-nav .nav {
    list-style: none;
    margin: 0;
    padding: 0; }
    .site-nav .nav li {
      margin: 2rem 0;
      text-align: center; }
      @media screen and (min-width: 1280px) {
        .site-nav .nav li {
          display: inline-block;
          margin: 0 0 0 2rem;
          text-align: left; } }
      .site-nav .nav li a {
        display: block;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #fff;
        font-size: 1.125rem; }
        @media screen and (min-width: 1280px) {
          .site-nav .nav li a {
            font-size: 1rem; } }

.site-nav-control {
  position: absolute;
  top: 3rem;
  right: 2rem;
  display: inline-block;
  width: 5rem;
  height: auto;
  margin: 0 auto;
  padding: .5rem 1rem;
  color: #fff;
  background-color: transparent;
  border: 0;
  border: 2px solid #fff;
  border-bottom: 8px double #fff;
  font-family: "Open Sans", sans-serif;
  font-size: .875rem;
  cursor: pointer;
  transition: opacity .1s linear;
  z-index: 5000; }
  @media screen and (min-width: 480px) {
    .site-nav-control {
      top: 2rem; } }
  @media screen and (min-width: 736px) {
    .site-nav-control {
      right: 2rem; } }
  @media screen and (min-width: 1280px) {
    .site-nav-control {
      display: none; } }
  .site-nav-control:hover {
    opacity: .7; }

.open-site-nav:before {
  content: 'Menu'; }

.close-site-nav:before {
  content: 'Close'; }

.site-footer {
  position: relative;
  padding-bottom: 2rem;
  background-color: #394D58;
  overflow: hidden; }
  .site-footer .container {
    padding-top: 4rem;
    padding-bottom: 4rem; }
  .site-footer .brand {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 1rem;
    font-size: 1.125rem; }
    @media screen and (min-width: 736px) {
      .site-footer .brand {
        width: 50%; } }
  .site-footer a {
    color: #fff; }
  .site-footer #gear1 {
    top: unset;
    bottom: 15%;
    right: 20%; }

@media screen and (min-width: 736px) {
  .contact {
    width: calc(70% - 2rem);
    margin-right: 2rem; } }

.contact a, .contact span {
  display: block;
  margin-bottom: .25rem; }

.engage {
  margin-top: 2.5rem; }
  @media screen and (min-width: 736px) {
    .engage {
      width: 30%;
      margin-top: 0;
      text-align: right; } }
  .engage .social li {
    margin-right: .5rem; }
    @media screen and (min-width: 736px) {
      .engage .social li {
        margin-left: .5rem;
        margin-right: 0; } }

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 2rem; }
  @media screen and (min-width: 736px) {
    .social {
      margin-top: 0; } }
  .social li {
    display: inline-block; }
    .social li a {
      display: block;
      height: 3rem;
      width: 3rem;
      padding: 0;
      background-color: #394D58; }
      .social li a.twitter {
        background-color: #3EADEA; }
      .social li a.linkedin {
        background-color: #2576B0; }
  .social svg {
    fill: #fff; }

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-image: url(../img/background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: 0; }
  @media screen and (min-width: 736px) {
    .hero-background {
      height: 40rem;
      background-image: url(../img/background.jpg); } }
  @media screen and (min-width: 1280px) {
    .hero-background {
      height: 34rem; } }

.hero-section {
  position: relative;
  z-index: 500; }
  .hero-section .container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 2rem 4rem; }
    @media screen and (min-width: 1280px) {
      .hero-section .container {
        padding: 4rem 8rem 0; } }
  .hero-section .button {
    border-color: #fff;
    color: #fff; }

.hero-text {
  order: 2;
  margin: 1rem auto auto;
  color: #fff;
  text-align: center; }
  @media screen and (min-width: 480px) {
    .hero-text {
      width: 70%; } }
  @media screen and (min-width: 736px) {
    .hero-text {
      order: 1;
      width: calc(50% - 2rem);
      margin: 4rem 2rem auto auto;
      text-align: left; } }
  @media screen and (min-width: 1280px) {
    .hero-text {
      width: calc(60% - 2rem);
      margin-top: 2rem; } }

.hero-text-main {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.1; }
  @media screen and (min-width: 736px) {
    .hero-text-main {
      font-size: 2.5rem; } }

.hero-text-sub {
  font-style: italic;
  font-size: 1.125rem; }

.hero-image {
  position: relative;
  order: 1;
  width: 70%;
  margin: auto;
  text-align: center; }
  @media screen and (min-width: 480px) {
    .hero-image {
      width: 50%; } }
  @media screen and (min-width: 1280px) {
    .hero-image {
      top: -3rem;
      order: 2;
      width: 40%; } }
  .hero-image img {
    max-width: 100%;
    height: auto; }

.homepage-section {
  position: relative;
  background-color: #EDEEEE; }
  .homepage-section h2 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 2.25rem;
    text-align: center;
    font-weight: 700;
    text-transform: none; }

.book-features {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  .book-features li {
    width: 100%;
    padding: .5rem 1rem;
    text-align: center; }
    @media screen and (min-width: 480px) {
      .book-features li {
        width: 50%; } }
    @media screen and (min-width: 736px) {
      .book-features li {
        width: 33.3333%; } }
  .book-features h3 {
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #333; }

@media screen and (min-width: 736px) {
  .authors-section .container {
    padding-left: 4rem;
    padding-right: 4rem; } }

@media screen and (min-width: 1280px) {
  .authors-section .container {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 4rem; } }

.authors-section h2 {
  width: 100%; }

.authors-photos {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin: auto; }
  @media screen and (min-width: 480px) {
    .authors-photos {
      width: 70%; } }
  @media screen and (min-width: 736px) {
    .authors-photos {
      width: 50%; } }
  .authors-photos li {
    width: 50%;
    margin: .5rem; }

.author-photo {
  margin: 0;
  text-align: center; }
  .author-photo img {
    width: 100%;
    max-width: 10rem;
    height: auto;
    border-radius: 50%; }
    @media screen and (min-width: 736px) {
      .author-photo img {
        width: auto;
        height: 10rem; } }

.authors-description {
  margin-top: 1rem;
  text-align: center; }
  @media screen and (min-width: 736px) {
    .authors-description {
      width: calc(50% - 2rem);
      margin-left: 2rem;
      text-align: left; } }

.sample-section {
  min-height: 40rem;
  background-color: #4A3142; }
  .sample-section .container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem; }
    @media screen and (min-width: 736px) {
      .sample-section .container {
        padding-top: 4rem; } }
  .sample-section h2 {
    color: #fff; }

.book-sample {
  float: left;
  width: 100%;
  padding-bottom: 4rem; }
  .book-sample .book-sample-page {
    width: 94%;
    height: 40rem;
    margin: auto;
    padding: 1.5rem;
    background-color: #fff;
    font-size: .875rem;
    overflow: scroll; }
    @media screen and (min-width: 736px) {
      .book-sample .book-sample-page {
        width: 60%;
        height: 50rem;
        padding: 4rem;
        font-size: 1rem; } }

.reviews-section .container {
  padding-top: 4rem; }

.review-previews {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 736px) {
    .review-previews {
      margin-left: -1rem; } }
  @media screen and (min-width: 1280px) {
    .review-previews {
      margin-left: -2rem;
      align-items: flex-start;
      justify-content: flex-start; } }

.review-preview {
  background-color: #fff;
  text-align: center;
  margin-bottom: 2rem; }
  .review-preview:last-child {
    margin-bottom: 0; }
  @media screen and (min-width: 736px) {
    .review-preview {
      width: calc(50% - 2rem);
      margin-left: 2rem;
      margin-bottom: 2rem; } }
  @media screen and (min-width: 1280px) {
    .review-preview {
      width: calc(33.333% - 2rem);
      margin-left: 2rem; } }

.reviewer {
  padding: 2rem;
  background-color: #253239;
  color: #fff; }
  .reviewer h3 {
    margin-top: 0;
    color: #fff; }
  .reviewer p {
    margin-bottom: 0;
    font-size: .875rem;
    font-style: italic; }

.review-text {
  position: relative;
  padding: 2rem;
  background-color: #fff; }
  .review-text:before {
    display: block;
    content: "";
    position: absolute;
    top: -1rem;
    right: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-bottom: 1.5rem solid #fff; }

.gear {
  position: absolute;
  z-index: 50%;
  opacity: .6; }
  .gear path {
    fill: #fff; }

#gear1 {
  top: 10%;
  right: 8%;
  width: 50%;
  animation: rotate-clockwise 30s linear infinite; }
  @media screen and (min-width: 736px) {
    #gear1 {
      width: 40%; } }
  @media screen and (min-width: 1280px) {
    #gear1 {
      width: 30%; } }

#gear2 {
  top: 30%;
  left: -20%;
  width: 55%;
  animation: rotate-counter-clockwise 15s linear infinite; }
  @media screen and (min-width: 736px) {
    #gear2 {
      width: 45%; } }
  @media screen and (min-width: 1280px) {
    #gear2 {
      width: 35%; } }

#gear3 {
  top: 48%;
  right: 5%;
  width: 50%;
  animation: rotate-clockwise 20s linear infinite; }
  @media screen and (min-width: 736px) {
    #gear3 {
      width: 40%; } }
  @media screen and (min-width: 1280px) {
    #gear3 {
      width: 30%; } }

#gear4 {
  bottom: 20%;
  left: 5%;
  width: 60%;
  animation: rotate-counter-clockwise 30s linear infinite; }
  @media screen and (min-width: 736px) {
    #gear4 {
      width: 50%; } }
  @media screen and (min-width: 1280px) {
    #gear4 {
      width: 40%; } }

@keyframes rotate-clockwise {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

@keyframes rotate-counter-clockwise {
  from {
    -webkit-transform: rotate(359deg); }
  to {
    -webkit-transform: rotate(0deg); } }

.page-header h1 {
  font-size: 2.625rem;
  color: #394D58; }

.page-description {
  max-width: 75%;
  margin-bottom: 2rem;
  font-size: 1.125rem; }

.resource-previews {
  list-style: none;
  margin: 0;
  padding: 0; }
  @media screen and (min-width: 736px) {
    .resource-previews {
      display: flex;
      flex-wrap: wrap;
      margin-left: -2rem; } }

.resource-preview {
  margin-bottom: 2rem;
  background-color: #fff; }
  @media screen and (min-width: 736px) {
    .resource-preview {
      width: calc(50% - 2rem);
      margin-left: 2rem; } }
  @media screen and (min-width: 1280px) {
    .resource-preview {
      width: calc(33.333% - 2rem); } }
  .resource-preview a {
    display: block; }
  .resource-preview h3 {
    margin-top: 0;
    padding: 2rem;
    background-color: #253239;
    color: #fff;
    font-size: 1.125rem;
    text-transform: none; }
  .resource-preview p {
    padding: 1rem 2rem 0; }
  .resource-preview .tags {
    padding: 1rem 2rem 1rem; }

.filter-section {
  background-color: #fff; }
  .filter-section .container {
    padding: 4rem 2rem 3rem; }
  .filter-section h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 100%; }

@media screen and (min-width: 736px) {
  .filters-type, .filters-category {
    width: calc(50% - 2rem);
    margin-right: 2rem;
    margin-bottom: 0; } }

.filters-type {
  margin-bottom: 2rem; }

.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }

.tag {
  margin-right: .5rem;
  margin-bottom: .5rem;
  padding: .25rem .5rem;
  background-color: #EDEEEE;
  text-transform: uppercase;
  font-size: .75rem; }
  .tag a {
    display: block; }
