.filter-section{
  background-color: $white;

  .container{
    padding: 4rem 2rem 3rem;
  }

  h2{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 100%;
  }
}

.filters-type, .filters-category{

  @media screen and (#{$bp-larger-than-tablet}){
    width: calc(50% - 2rem);
    margin-right: 2rem;
    margin-bottom: 0;
  }
}

.filters-type{
  margin-bottom: 2rem;
}
