.site-header{
  position: relative;
  background: url('../img/header-background.jpg') no-repeat top center;
  background-size: cover;
  z-index: 1000;

  .container{
    padding-bottom: 2rem;
  }
}

.homepage{
  .site-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
  }
}
