.site-nav{
  float: right;
  margin-top: .5rem;

  .nav{
    @include unstyled-list;

    li{
      display: inline-block;
      margin-left: 2rem;

      a{
        display: block;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $white;
      }
    }
  }
}
