.resource-previews{
  @include unstyled-list;

  @media screen and (#{$bp-larger-than-tablet}){
    display: flex;
    flex-wrap: wrap;
    margin-left: -2rem;
  }
}

.resource-preview{
  margin-bottom: 2rem;
  background-color: $white;

  @media screen and (#{$bp-larger-than-tablet}){
    width: calc(50% - 2rem);
    margin-left: 2rem;
  }

  @media screen and (#{$bp-larger-than-desktop}){
    width: calc(33.333% - 2rem);
  }

  a{
    display: block;
  }

  h3{
    margin-top: 0;
    padding: 2rem;
    background-color: darken($primary-color, 10%);
    color: $white;
    font-size: 1.125rem;
    text-transform: none;
  }

  p{
    padding: 1rem 2rem 0;
  }

  .tags{
    padding: 1rem 2rem 1rem;
  }

}
